* {
  all: unset; //Unsets everything so you can style everything from scratch
}

//Global Styles
.alsa-gui {
  background-color: #1e222a;
  color: #abb2bf;
  padding: 12px;
  border-radius: 7px;
  font-size : 25px;
}

.metric scale trough {
  all: unset;
  border-radius: 50px;
  min-height: 3px;
  min-width: 90px;
  margin-left: 10px;
  margin-right: 10px;
}

.chad scale trough {
  all: unset;
  border-radius: 50px;
  min-height: 3px;
  min-width: 90px;
  margin-left: 10px;
  margin-right: 10px;
}

.metric scale trough highlight {
  all: unset;
  background-color: #668ee3;
  border-radius: 10px;
}

.chad scale trough highlight {
  all: unset;
  background-color: #e06c75;
  border-radius: 10px;
}

.bri  {
  background-color: #d47d85;
}

.metric scale trough {
  all: unset;
  background-color: #282c34;
  border-radius: 50px;
  min-height: 6px;
  min-width: 90px;
  margin-left: 10px;
  margin-right: 10px;
}

.chad scale trough {
  all: unset;
  background-color: #282c34;
  border-radius: 50px;
  min-height: 6px;
  min-width: 90px;
  margin-left: 10px;
  margin-right: 10px;
}
