@import "scss/themes/onedark.scss";

// header
@import "scss/header/statusBtns.scss";
@import "scss/header/fetch.scss";

// focal
@import "scss/focal/focal.scss";
@import "scss/focal/audioSlider.scss";

// footer
@import "scss/footer/btns.scss";
@import "scss/footer/backlight.scss";

.eww > * {
  padding: 1rem;
  padding-top: .6rem;
  background-color: $black;
}
