$white: #c7b89d;
$black: #1e2122;
$blackAlt: #242728;
$grey: #2f3233;
$lightGrey: #696c6d;
$green: #89b482;
$red: #ec6b64;
$blue: #6d8dad;
$pink: #cc7f94;
$yellow: #d6b676;
$orange: #e78a4e;
$purple: #9f899c;
