.masterSlider {
  background-color: $blackAlt;
  border-radius: 1rem;
  // border: 2px solid $grey;
  padding: 1rem;
}

.masterSlider scale trough highlight {
  border-radius: 1rem;
}

.masterSlider scale trough {
  background-color: $grey;
  border-radius: 1rem;
  min-width: 1rem;
  min-height: 100px;
}

.masterSlider scale trough highlight {
  background-color: $red; 
}

.timerSlider {
  // background-color: $blackAlt;
  border-radius: 1rem;
  border: 2px dotted $grey;
  padding: .5rem;
}

.timerSlider scale trough {
  background-color: $grey; 
  min-width: .5rem;
  border-radius: 1rem;
}

.timerSlider scale trough highlight {
  background-color: $blue; 
  min-width: .3rem;
  border-radius: 1rem;
}

.audioIcon {
  // font-family: 'JetbrainsMono Nerd Font';
  // font-size: 1.8rem;
  // padding: 0.5rem 1rem;
  // background-color: $grey;
  border-radius: 20%;
}
