.radialBars {
  margin-bottom: -4rem;
  padding: 1.5rem 0.8rem;
}

// progress bars
.CPU, .RAM , .DISK, .battery {
  background-color: $blackAlt;
  color: $blue;
  font-size: 2.1rem;
  font-family: 'JetBrainsMono Nerd Font';
}

.CPU {
 font-size: 2.5rem; 
}

.RAM {
  color: $green;
}

.battery {
  color: $red;
}

.DISK {
  font-size: 1rem;
  color: $white;
  background-color: $grey;
}

.time {
  font-family: 'Iosevka';
  font-size: 1.2rem;
  background-color: $blackAlt;
  margin: 2.5rem 0.5rem;
  margin-bottom: -0.6rem;
  border-radius:1rem;
  padding: 0 1rem;
  color: $white;
}

.mute {
  background-color: $blackAlt;
  border-radius: 1rem;
  color: $green;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 2rem;
  margin:  .8rem ;
}

.mute:hover {
  background-color: $grey;
  color: $white;
}

.pkgs{
 margin: 1.5rem;
 border-radius: 1rem;
 font-family: 'JetBrainsMono Nerd Font';
 color: $green;
 background-color: $blackAlt;
 padding: 0 1rem;
}

.pkgsBox {
  margin: -1rem;
  margin-top: .3rem;
  margin-bottom: -3.5rem;
  margin-left: .15rem;
}

.CPUBOX {
  margin-right: .4rem;
}

.RAMBOX {
  margin-left: .4rem;
} 
