.radialBars {
  padding: 1.5rem 0.8rem;
}

// progress bars
.CPU, .RAM , .DISK, .battery {
  background-color: $blackAlt;
  color: $blue;
  font-size: 3.1rem;
  font-family: 'JetBrainsMono Nerd Font Mono';
}

.RAM {
  color: $green;
}

.battery {
  color: $red;
}

.DISK {
  font-size: 1rem;
  color: $white;
  background-color: $grey;
}

.time {
  font-family: 'Iosevka';
  font-size: 1.2rem;
  background-color: $blackAlt;
  border-radius:1rem;
  padding: 1rem;
  color: $white;
}

.mute {
  background-color: $blackAlt;
  border-radius: 1rem;
  color: $green;
  font-family: 'JetBrainsMono Nerd Font Mono ';
  font-size: 3rem;
  margin:  .8rem ;
}

.mute:hover {
  background-color: $grey;
  color: $white;
}

.pkgs{
 margin: 1.5rem;
 border-radius: 1rem;
 font-family: 'Comic Mono';
 color: $green;
 background-color: $blackAlt;
 padding: 1rem;
}

.pkgsBox {
  margin-top: .3rem;
}

.CPUBOX {
  margin-right: .4rem;
}

.RAMBOX {
  margin-left: .4rem;
} 
