.fetchContent {
  padding: 2rem 0;
  font-family: 'JetBrainsMono Nerd Font';
  color: $white;
  border-right: 2px solid $grey;
}

.logo {
  font-family: 'JetBrainsMono Nerd Font Mono';
  font-size: 6rem;
  color: $blue;
}

.fetch {
  background-color: $blackAlt;
  border-radius: 1rem;
}

.fetchTitles {
  color: $green;
  padding-right: 1rem
}

.hdd {
  margin: 1rem;
}
