.fetchContent {
  padding: 2rem 0;
  font-family: 'JetBrainsMono Nerd Font';
  color: $white;
  border-right: 2px solid $grey;
}

.logo {
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 4rem;
  color: $green;
  margin:0  1.5rem
}

.fetch {
  background-color: $blackAlt;
  border-radius: 1rem;
  margin-bottom: 1rem;
  margin-top: .6rem;
}

.fetchTitles {
  color: $green;
  padding-right: 1rem
}

.hdd {
  margin: 1rem;
}
