.close , .min , .max{
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 1.3rem;
  padding: 0 0.3rem;
  color: $red;
}

.min {
  color: $yellow;
}

.close:hover , .min:hover{
  background-color: $grey;
  color: $white;
  border-radius: 50%; 
}
