* {
  all: unset;
}

.brightness {
  padding: 0 1rem;
  margin-bottom: -2rem;
}

.brightness scale trough highlight {
  background-color: $red; 
  border-radius: 10px;
}

.brightness scale trough {
  background-color: $grey;
  border-radius: 1rem;
  min-width: 16rem;
  min-height: .3rem;
}
