* {
  all: unset;
}


.brightness {
  trough highlight {
    background-color: $lightGrey;
    border-radius: 10px;
  }

  trough highlight:hover {
    background-color: $white;
    border-radius: 10px;
  }
}

.brightness trough {
  background-color: $grey;
  border-radius: 1rem;
  min-height: .9rem;
}

.brightnessbox {
  padding: 1rem;
  border-radius: 1rem;
  background-color: $blackAlt;
  margin-bottom: 1rem;
  // border: 2px dotted $grey;
}
