.btn {
  font-family: "JetbrainsMono Nerd Font";
  font-size: 1.6rem;
  padding: 0 1.3rem;
  box-shadow: none;
  background-color: $grey;
  border-radius: 50%;
}

.close {
  color: $red;
}

.sleep {
  color: $red;
}

.restart {
  color: $green;
}

.lock {
  color: $blue;
  padding: 0 1.4rem;
}

.lock:hover , .restart:hover, .wifi:hover, .sleep:hover{
  background-color: $green;
  color: $black;
}

.wifi {
  background-color: $red;
  color: $black;
  padding: 0 1.1rem;
}

.lock, .restart, .close, .wifi{
  transition: ease-out .2s;
}

.btnMargin {
  background-color: $grey;
  border-radius: 50%;
  margin: 0.5rem;
}

.footerBtns {
  background-color: $blackAlt;
  padding: 0.5rem;
  border-radius: 1.3rem;
}
