* {
    bg-col:  #282a36;
    bg-col-light: #44475a;
    border-col: #44475a;
    selected-col: #44475a;
    blue: #bd93f9;
    fg-col: #f8f8f2;
    fg-col2: #ffffff;
    grey: #6272a4;
    width: 600;
}
