* {
    bg-col: #2B3339;
    bg-col-light: #333b41;
    border-col: #333b41;
    selected-col: #333b41;
    blue: #87c095;
    fg-col: #b4bbc8;
    fg-col2: #e67e80;
    grey: #545c62;
    width: 600;
}
