* {
    bg-col:  #1e2122;
    bg-col-light: #26292a;
    border-col: #282b2c;
    selected-col: #242728;
    blue: #8dae88;
    fg-col: #d4be98;
    fg-col2: #df736d;
    grey: #5b5e5f;
    width: 600;
}
