* {
    bg-col:  #1e222a;
    bg-col-light: #282c34;
    border-col: #282c34;
    selected-col: #282c34;
    blue: #61afef;
    fg-col: #abb2bf;
    fg-col2: #e06c75;
    grey: #565c64;
    width: 600;
}
